<div id="flashContent" class="flashWrapp">
      
       
     <embed
       src="/static/Chat.swf?v=222"
       name="owner_cam_obj" 
       allowScriptAccess="always"
       width="1900" height="1080" 
       scale="exactfit"
       type="application/x-shockwave-flash"
       flashvars = "codecOn=true&ww=1900&hh=1080&fps=20&streamName=test&url=rtmp://localhost/vod&micOn=true&type=in"
       pluginspage="http://www.macromedia.com/go/getflashplayer"> </embed>

            
    </object>

</div>
