{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success" role="alert">
                
                
                <p><span class="fa fa-exclamation" aria-hidden="true"></span>
                        {% trans 'We sent you the link to recover your password.' %}
                        
                        {% trans 'If you don`t recive the letter make sure that yoe email was typed correctly.' %}
                      </p>
            </div>
        </div>
    </div>   



{% endblock %}