[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
celery = "==3.1.11"
django-celery = "==3.1.10"
redis = "==2.10.1"
django-mptt = "==0.5.5"
tornado = "==4.0.1"
sockjs-tornado = "==1.0.1"
django-sockjs-tornado = {git = "https://github.com/peterbe/django-sockjs-tornado", editable = true}
django-social-auth = "==0.7.28"
django-rosetta = "==0.7.13"
django-modeltranslation = "*"
"psycopg2" = "*"
django-jsonview = "==1.1.0"
django-rest-framework = "*"
"beautifulsoup4" = "==4.6.0"
docutils = "==0.14"
sorl-thumbnail = "==12.3"
django-image-cropping = "==1.1.0"
python-slugify = "==1.2.4"
django-registration = "==2.3"
easy-thumbnails = {git = "git@github.com:SmileyChris/easy-thumbnails.git", editable = true}
django-widget-tweaks = "==1.4.1"
django-jenkins = "==0.110.0"
"pep8" = "==1.7.1"
pyflakes = "==1.6.0"
pylint = "==1.8.2"
pytils = "*"
django-tinymce = "==2.7.0"
"psycopg2-binary" = "*"
social-auth-app-django = "==2.1.0"
django-countries = "==5.2"
Django = "==1.11"
Pillow = "*"

[requires]
python_version = "2.7"
