{% load i18n %}
<div id="flashContent" class="flashWrapp">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="300"  align="middle">
        <param name="movie" value="/static/Chat.swf?v=22" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="FlashVars" value="codecOn=true&ww=800&hh=600&fps=20&streamName={{ token }}&url=rtmp://{{ video_server }}/ny&micOn=true&type=out" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/static/js/Chat.swf?v=22" width="400" height="300">
            <param name="movie" value="/static/Chat.swf?v=2" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="play" value="true" />
            <param name="loop" value="true" />
            <param name="wmode" value="window" />
            <param name="scale" value="showall" />
            <param name="menu" value="true" />
            <param name="devicefont" value="false" />
            <param name="salign" value="" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="FlashVars" value="codecOn=true&ww=800&hh=600&fps=20&streamName={{ token }}&url=rtmp://{{ video_server }}/my&micOn=true&type=out" />
            <!--<![endif]-->
            <a href="http://www.adobe.com/go/getflash">
                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
            </a>
            <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
    </object>
</div>

<a  href="#" onclick="return false" class="btn btn-success" id="save_pic" >{% trans 'Save your pictrure' %}</a>
