<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="target-densitydpi=device-dpi">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}Online cources{% endblock %}</title>
    {% block seo_tags %}{% endblock %}
    {% block style %}{% endblock %}
    {% block js %}{% endblock %}

</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
